body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #271010e0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Cambiado a columna para que los elementos estén uno encima del otro */
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos en la parte superior */
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 10px; /* Ajusta la distancia desde la parte superior */
  color: #f8dddd;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #314bc0;
}

.calculadora {
  width: 400px;
  margin: 20px auto; /* Ajusta para centrar horizontalmente */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pantalla {
  width: 95%;
  padding: 15px;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"] {
  width: 80px;
  height: 60px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="button"]:hover {
  background-color: #d87b3d94;
}

input[type="button"]:last-child {
  margin-right: 0;
}
